<div class="wa-header">
    <div class="bottone-sx"><a href="#/gioca"><img src="assets/images/bottone-sx.png" /></a></div>
    <div class="casa"><a href="#/"><img src="assets/images/casa.png" /></a></div>
    <div class="titolo"><img src="assets/images/titolo.png" /></div>
    <div class="vaiaimparare"><a href="#/impara"><img src="assets/images/vaiaimparare.png" /></a></div>
    <div class="vaiagiocare"><a href="#/gioca"><img src="assets/images/vaiagiocare.png" /></a></div>
    <!--<div class="bottone-dx"><a href="#/"><img src="assets/images/bottone-dx.png" /></a></div>-->
</div>
<div class="wa-main">
    <div class="wa-main-wrapper">
        <div class="wa-giocosillabe" ng-controller="GiocaSillabeController">
            <div class="box-controllidigioco">
                <div class="box-scrittura">
                    <div id="sillaba" class="sillaba">{{sillabaMostrata.toUpperCase()}}</div>
                </div>
                <div class="box-pulsante">
                    <div class="pulsante audio" ng-click="play();">
                        <img class="imgToccaBottone" />
                    </div>
                </div>
                
                <audio id="audio">
                    <source ng-src="{{currentSillaba.audioSillaba}}" type="audio/mpeg" />
                    Your browser does not support this audio format.
                </audio>
            </div>
            <div class="box-sillabario" style="position: relative">
                <img class="imgToccaCarte" />
                <div class="sillabario" dir="ltr">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr class="intestazione-o">
                            <td class="intestazione-v"></td>
                            <td ng-repeat="vocale in vocali">{{vocale.name.toUpperCase()}}</td>
                        </tr>
                        <tr ng-repeat="combinazione in combinazioni">
                            <td class="intestazione-v">{{combinazione.intestazione.toUpperCase()}}</td>
                            <td id="{{sillaba}}" class="cliccabile" ng-repeat="sillaba in combinazione.sillabe" ng-click="checkSelection(sillaba);">{{sillaba.toUpperCase()}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>