<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id          = "com.riccardocavalieri.fareparole"
    version     = "0.9.3" >

  <!-- versionCode is optional and Android only -->

  <name>Fare Parole</name>

  <description>
    Obiettivo della App “Fare parole” è accompagnare, sostenere e facilitare il percorso di apprendimento della letto-scrittura dell’italiano per adulti stranieri a nulla o debole scolarità nel paese di origine, analfabeti o semianalfabeti anche in lingua madre.
  </description>

  <preference name="orientation" value="landscape" />
  
  <icon src="icon.png" />

  <author href="www.riccardocavalieri.com" email="riccardocavalieri@gmail.com">
    Riccardo Cavalieri
  </author>

  <feature name="Media">
    <param name="android-package" value="org.apache.cordova.media.AudioHandler" />
    <param name="ios-package" value="CDVSound" />
  </feature>
  <feature name="Device">
    <param name="android-package" value="org.apache.cordova.device.Device" />
    <param name="ios-package" value="CDVDevice" />
  </feature>

  <!-- Core plugins -->
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.media" />

  <content src="index.html" />

  <plugins>
    <plugin name="Device" value="CDVDevice" />
    <plugin name="Media" value="CDVSound" />
  </plugins>

  <access origin="*" />

</widget>
